.add-forum-container{
    background-color: var(--bgSaft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.add-forum-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.add-forum-form input, .add-forum-form textarea{
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
    border: solid 1px var(--text);
}

.add-forum-form input{
    height:  10px;
}

.add-forum-form textarea{
    height: 150px;
}

.add-forum-form button{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-forum-form button:hover{
    background-color: #4a43c9;
}

.add-forum-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.add-forum-checkbox input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.add-forum-checkbox label {
    color: var(--text);
    cursor: pointer;
}