.forum-list{
    background-color: var(--bgSaft);
    padding: 20px;
    border-radius: 10px;

}



.forum-list-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.forums-list-add-btn{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.forums-list-btn{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    /* width: 50px; */
    font-size: 1rem;

}

.forums-list-table{
    width: 100%;

}

.forums-list-table td{
    padding: 5px;
    height: auto;
}

.forums-list-table th{
    padding: 10px;

}

.forums-list-btns{
    width: 80px;
    gap: 10px;
    margin: 5px;

}

.forum-list-link{
    /* links to manage users and threads */
    margin: 5px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;

}

.forum-list-link:hover{
    background-color: var(--bgSaft);
    color: var(--text);
    border-radius: 10px;
}

.delete{
    background-color: crimson;
}

.delete:hover{
    background-color: rgb(180, 20, 60);
}

.edit{
    background-color: teal;
}

.edit:hover{
    background-color: rgb(0, 88, 88);
}

