
  .sidebar-navigation.is-visible {
    opacity: 1;
  }
  
.sidebar-navigation{
  height: 90vh;
  width: 25vw;
background-color: #D9D9D9;
margin-top: 75px;

/* position: fixed;
right: 0; */

}

  @media (min-width: 1024px) {
    .sidebar-navigation {
      opacity: 1;
    }
  }

  @media screen and (max-width: 580px) {
    .sidebar-navigation {
      display: none;
    }
    
  }


  
.sidebar-navigation ul {
  list-style-type: none;
  padding: 0 ;
  height: 100%;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.sidebar-navigation li {
  padding: 8px 16px; 
  text-align: right;
font-family: 'Ploni ML v2 AAA';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
gap: 10px;
padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    border-radius: 10px;

}

.sidebar-navigation li a {
  text-decoration: none; 
  color: black; 
}

.sidebar-navigation li a:hover {
  color: #007bff; 
}