.structItem{
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    color: #141414;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.structItem-cell-icon{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    display: table-cell;
    padding: 10px 8px;
    vertical-align: top;
    width: 52px;
    position: relative;
}

.structItem-iconContainer{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}

.avatar{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    vertical-align: top;
    overflow: hidden;
    width: 36px;
    height: 36px;
    font-size: 22px;
}

.structItem-cell--main{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    display: table-cell;
    padding: 10px 8px;
    vertical-align: top;
    flex: 1;
    width: 65%;
}



.structItem-statuses{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    color: #141414;
    border-collapse: collapse;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.structItem-status{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
}

.structItem-title{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.structItem-minor{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
    color: #8c8c8c;
}

.structItem-parts{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    border-collapse: collapse;
    font-size: 12px;
    color: #8c8c8c;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.username{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    border-collapse: collapse;
    font-size: 12px;
    list-style: none;
    unicode-bidi: isolate;
    box-sizing: border-box;
    background-color: transparent;
    text-align: right;
    color: inherit;
    text-decoration: none;
}

.structItem-startDate{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    border-collapse: collapse;
    font-size: 12px;
    list-style: none;
    box-sizing: border-box;
    display: inline;
    margin: 0;
    padding: 0;
    color: #505050;
}

.structItem-cell--meta{
    -webkit-text-size-adjust: 100%;
    font: 15px / 1.4 sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    --input-border-heavy: #cbcbcb;
    --input-border-light: #dfdfdf;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --kttPrimaryColor: #000000;
    color: #141414;
    border-collapse: collapse;
    list-style: none;
    box-sizing: border-box;
    display: table-cell;
    padding: 10px 8px;
    vertical-align: top;
    width: 115px;
    font-size: 12px;
}

